.sprite_fb {
	background: url('/img/social-sprite-icons.png') no-repeat -36px -30px;
	width: 128px;
    display:inline-block;
    height: 128px;
}

.sprite_youtube {
	background: url('/img/social-sprite-icons.png') no-repeat -236px -30px;
	width: 128px;
    height: 128px;
    display:inline-block;
}

.sprite_instagram {
	background: url('/img/social-sprite-icons.png') no-repeat -436px -30px;
	width: 128px;
    display:inline-block;
	height: 128px;
}
